body{
    /* background:url(/IMAGES/abstract-dark-blue-futuristic-digital-grid-background.jpg);
    background-position:center; */
  background-color: #121B27!important; 
  overflow-x: hidden;
}
.heart-logo{
    color: #CC7722;
}
.container-fluid{
    margin-top: 5%;
}
.title-logo{
    color: white!important;
    margin-left: 4%;
    font-family: 'Poppins', sans-serif;
}
.title-button{
    margin-right: 6%;
}
.title-image{
    position: relative;
    right: 12%;
    width: 10px;
    height: 15px;
}
.title-button a{
    color: white!important;
    text-decoration: none;
    font-family: 'Poppins', sans-serif ;
    
}
.first-animation{
    background:linear-gradient(92deg, #5404ff84, #BA2AD1);
    width: 110px;
    height: 110px;
    /* border: 3px solid #5404FF; */
    border-radius: 50%;
    position: absolute;
    top: 22%;
    left: 66%;
    animation-name: small;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;

}
@keyframes small {
    0% {background:linear-gradient(92deg, #5404ff84, #BA2AD1);}
    50% {background:linear-gradient(96deg, #5404ff84, #BA2AD1);}
    100% {background:linear-gradient(99deg, #5404ff84, #BA2AD1);}   
}

.second-animation{
    width: 200px;
    height: 200px;
    background:linear-gradient(92.7deg,#5404FF 7.9%,#BA2AD1 88.1%);
    position: absolute;
   z-index: 1;
   border-radius: 50%;
   box-shadow: inset 2px 4px 100px #001D6E;

}
.second-animation::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(92.7deg, #FF445B 7.9%, #BA2AD1 88.1%,);
    box-shadow: inset 2px 4px 100px #001D6E;
    opacity: 0;
    transition: opacity 5s;
    z-index: -1;
    animation-name: meduim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 0;

}
.second-animation::after{
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(-92.7deg, #6212DC 7.9%, #FF445B 88.1%);
    box-shadow: inset 2px 4px 100px #001D6E;
    opacity: 0;
    transition: opacity 5s;
    z-index: -1;
    animation-name: second;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 0;

}
@keyframes meduim {
        0%{
            opacity: 0;
        }
        25%{
            opacity: 0.25;
        }
        50%{
        opacity: 0.5;
        }
        75%{
        opacity: 0.75;
        }
        101%{
        opacity: 0.8;
        }
}
@keyframes second {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
    opacity: 0.5;
    }
    75%{
    opacity: 0.75;
    }
    101%{
    opacity: 0.8;
    }
}

.heading{
    font-size: 64px;
    color:white;
    text-align: center;
    margin-top: 10%;
    font-family: 'Poppins', sans-serif ;
    word-spacing: 2px;
    font-weight: bold;
    line-height: 1em;
}
.heading span{
    color: #A75FD2;
}
.heading .para{
    font-size: 18px;
    padding-top: 2.5%;
    font-weight: 300;
    line-height: 2em;

}
.form{
    margin-top: 5%;
    margin-left: 33%;
    font-size: 20px;
    font-family: 'Poppins', sans-serif ;

    
}
.form input{
    margin-bottom: 2%;
    height: 50px;
    width: 450px;
    background-color: #121B27;
    border: 1px solid white;
    border-radius: 10px;
    
}
.form-icon{
    position: relative;
    left: 4%;
    color: white;
    
}
.form input::placeholder{
    color: white;
    font-family: 'Poppins', sans-serif ;
    font-weight: 200;

}
.heading-button{
    text-align: center;
    margin-top:3% ;
   

}
.heading-button button{
    border:2px solid #121B27;
    border-radius: 30px;
    background:linear-gradient(112.92deg, #5404FF 18.35%, rgba(189, 59, 210, 0.94) 71.49%);
    width: 400px;
}
.heading-button a{
    text-decoration: none;
    color: white;
    word-spacing: 2px;
}
.brand{
    text-align: center;
    color: #FCFCFC;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-circle{
    display: flex;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: -10px;
    background-color: red;
}

.brand span{
    text-align: center;
    /* color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 35%;
    font-size: 15px;
    font-family: 'Poppins', sans-serif ;
}

.brand p{
    padding-left: 15px;
    padding-top: 19px;
    float: right;
    font-family: 'Poppins', sans-serif ;

}
.star-one{
    position: relative;
    bottom: 10%;
    right: 14.5%;
}
.star-two{
    position: absolute;
    width: 22px;
    height: 30px;
    left: 1159px;
    top: 160px;    
}
.star-three{
    position: absolute;
    left: 90%;
    
}
.star-four{
    position: absolute;
    top: 150%;
    left: 5%;
   
}
.arrow-one{
    position: absolute;
    left: 70%;
    top: 88%;
}
.about{
    color: white;
    text-align: left;
    margin-left:15%;
    margin-right: 15%;
    margin-top: 70%;
}
.about h1{
    font-size: 64px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    line-height: 83.2px;
}
.about p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 31px;
    font-weight: 200;
    text-align: left;
}
.line{
    align-items: center;
}
.register{
    background: #1D2939;
    width: 633px;
    height: 890px;
    border-radius: 20px;
    margin-top: 40%;

}
.register h2{
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-top: 10%;
    padding-left: 10%;
}
.register input{
    background-color: #1D2939;
    border: 1px solid rgba(255, 255, 255, 0.648);
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 10%;
    width: 480px;
    height: 60px;
    align-items: center;
    color: white;

}
.register input::placeholder{
    color: rgba(255, 255, 255, 0.934);
    font-family: 'Poppins', sans-serif;
    padding: 3%;
    font-weight: 200;
}
.register select{
    background-color: #1D2939;
    border: 1px solid rgba(255, 255, 255, 0.648);
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 10%;
    width: 480px;
    height: 60px;
    align-items: center;
    color: white;

}
.register option{
   
    font-family: 'Poppins', sans-serif;
    padding: 3%;
    font-weight: 200;
}
.register textarea{
    background-color: #1D2939;
    border: 1px solid rgba(255, 255, 255, 0.648);
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 10%;
    /* width: 480px; */
    /* height: 60px; */
    align-items: center;
    color: white;
}
.register textarea::placeholder{
    color: rgba(255, 255, 255, 0.934);
    font-family: 'Poppins', sans-serif;
    padding: 3%;
    font-weight: 200;
}
#end{
    margin-bottom: 5%;
}
#footer .footer-text{
   color: white;
   font-family: 'Poppins', sans-serif;
   font-weight: 200;
   font-size: 16px;
   padding-left:5%;
   text-align: justify;
   /* padding-right:2%; */

}
#footer .footer-text-two{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    /* padding-right:2%; */
   
 
}
#footer{
    margin-left:5%;
    margin-right:5%;
    margin-top: 2%;
    /* border: 2px solid red; */
}
#footer .house{
    position: absolute;
    right:92%;
    top: 295%;
    

    
}
#footer .phone{
    position: absolute;
    right:25%;
    top: 295%;
    padding-top: 11px;
    padding-left:2%;
}
.register-button{
    border-radius: 30px;
    background:linear-gradient(112.92deg, #5404FF 18.35%, rgba(189, 59, 210, 0.94) 71.49%);
    width: 470px;
    align-items: center;
}
.register-button a{
    text-decoration: none;
    color: white;
    word-spacing: 2px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;


}
.register-button{
    text-align: center;
    margin-top:2%;
    margin-left: 10%;
}


.form-control {

    color: white !important;
    font-weight: 200 !important;
}
.box-one{
    position: absolute;
    width: 36.5px;
    height: 46px;
    left: 1251px;
    top: 1220px;
}
.box-two{
    position: absolute;
    width: 36.5px;
   height: 46px;
   left: 586.25px;
   top: 1388px;
}
.star-five{
    position: absolute;
    width: 32px;
    height: 40px;
    left: 415px;
    top: 1215px;
}
.star-six{
    position: absolute;
    width: 48px;
    height: 64px;
    left: 595px;
    top: 1779px;
    
}
.star-seven{
    position: absolute;
    width: 28px;
    height: 44px;
    left: 1269px;
    top: 1965px;
    
}
.third-animation{
    width: 400px;
    height: 400px;
    background:linear-gradient(92.7deg,#5404FF 7.9%,#BA2AD1 88.1%);
    position: absolute;
    top:382px;
    left: 85%;
   z-index: 1;
   border-radius: 50%;
   box-shadow: inset 2px 4px 100px #001D6E;
   filter: blur(15px);
}
.third-animation::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: linear-gradient(to left, #5404FF 7.9%, #FF445B 88.1%);
    box-shadow: inset 4px 8px 200px #001D6E;
    filter: blur(15px);
    box-shadow: inset 2px 4px 100px #001D6E;
    opacity: 0;
    transition: opacity 5s;
    z-index: -1;
    animation-name: large;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 0;
}
.third-animation::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: linear-gradient(to right, #FF445B 7.9%, #BA2AD1 88.1%);
    box-shadow: inset 4px 8px 200px #001D6E;
    filter: blur(15px);
    box-shadow: inset 2px 4px 100px #001D6E;
    opacity: 0;
    transition: opacity 5s;
    z-index: -1;
    animation-name: larger;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 0;
}
@keyframes large {
        0%{
            opacity: 0;
        }
        25%{
            opacity: 0.25;
        }
        50%{
        opacity: 0.5;
        }
        75%{
        opacity: 0.75;
        }
        101%{
        opacity: 0.8;
        }
}
@keyframes larger {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.4;
    }
    50%{
    opacity: 0.6;
    }
    75%{
    opacity: 0.82;
    }
    101%{
    opacity: 0.9;
    }
}

@media only screen and (max-width:1180px) and (min-width:1120px) {
    .second-animation{
        position: absolute;
        top: 10%;
        left:1%;
        width: 130px;
        height: 130px;
    }
    .second-animation::before{
        position: absolute;
        top: 0%;
        left:0%;
        width: 130px;
        height: 130px;
    }
    .second-animation::after{
        position: absolute;
        top: 0%;
        left:0%;
        width: 130px;
        height: 130px;
    }
    .third-animation{
        width: 300px;
        height: 300px;
        position: absolute;
        left:90% ;
    }
    .third-animation::after{
        width: 300px;
        height: 300px;
    }
    .third-animation::before{
        width: 300px;
        height: 300px;
    }
    .star-two{
        position: absolute;
        top: 20%;
        left: 90%;
    }
    .first-animation{
        width: 100px;
        height: 100px;
    }
    .form-icon{
        margin-left: -7%;

    }
    .arrow-one{
        position: absolute;
        left: 75%;
    }
    .about h1{
        text-align: center;
    }
    .about p{
        text-align: center;
    }
    .star-three{
        position: absolute;
        top: 155%;
    }
    .star-four{
        position: absolute;
        left: 15%;
        top: 160%;
    }
    .box-one{
        position: absolute;
        left: 60%;
        top:150%;
    }
    .box-two{
        position: absolute;
        left:45% ;
        top: 250%;
    }
    .star-seven{
        position: absolute;
        left: 94%;
        top: 510%;
    }
    .star-six{
        position: absolute;
        left: 40%;
    }
    #footer .house{
        position: absolute;
        top: 306.5%;
    }
    #footer .phone{
        position: absolute;
        top: 306.5%;
        left: 70%;
    }
}
@media only screen and (max-width:978px){
    .heading{
        font-size: 40px;
    }
    .heading span{
        font-size: 40px;
    }
    .second-animation{
        position: absolute;
        top: 10%;
        left:1%;
        width: 130px;
        height: 130px;
    }
    .second-animation::before{
        position: absolute;
        top: 0%;
        left:0%;
        width: 130px;
        height: 130px;
    }
    .second-animation::after{
        position: absolute;
        top: 0%;
        left:0%;
        width: 130px;
        height: 130px;
    }
    .third-animation{
        width: 300px;
        height: 300px;
        position: absolute;
        left:90% ;
    }
    .third-animation::after{
        width: 300px;
        height: 300px;
    }
    .third-animation::before{
        width: 300px;
        height: 300px;
    }
    .star-two{
        position: absolute;
        top: 20%;
        left: 90%;
    }
    .first-animation{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 19%;
    }
    .form-icon{
        margin-left: -12%;

    }
    .arrow-one{
        position: absolute;
        left: 75%;
        top: 70%;
    }
    .about h1{
        text-align:left;
    }
    .about p{
        text-align: left;
    }
    .star-three{
        position: absolute;
        top: 132%;
    }
    .star-four{
        position: absolute;
        left: 15%;
        top: 130%;
    }
    .box-one{
        position: absolute;
        left: 60%;
        top:140%;
    }
    .box-two{
        position: absolute;
        left:20% ;
        top: 245%;
    }
    .star-seven{
        position: absolute;
        left: 94%;
        top: 620%;
    }
    .star-six{
        position: absolute;
        left: 25%;
        top: 580%;
    }
    #footer .house{
        position: absolute;
        top: 279%;
    }
    #footer .phone{
        position: absolute;
        top: 27%;
        left: 69%;
    }
    .star-five{
        position: absolute;
        left: 36%;
    }
    .register{
        width:540px;
        height: 890px;
        
    }
    .register h2{
        color: white;
        font-family: 'Poppins', sans-serif;
        padding-top: 10%;
        padding-left: 10%;
        font-size: 30px;
    }
    .register input{
        background-color: #1D2939;
        border: 1px solid rgba(255, 255, 255, 0.648);
        border-radius: 5px;
        margin-top: 5%;
        margin-left: 10%;
        width: 420px;
        height: 60px;
        align-items: center;
        color: white;
    
    }
    .register select{
        background-color: #1D2939;
        border: 1px solid rgba(255, 255, 255, 0.648);
        border-radius: 5px;
        margin-top: 5%;
        margin-left: 10%;
        width: 420px;
        height: 60px;
        align-items: center;
        color: white;
    
    }
    .register textarea{
        width: 420px;
    }
    .register-button{
        width: 420px;
        margin-left: 6% !important;
    }

}
